* {
    margin: 0;
    padding: 0;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --sidebar-background: #f3f3f3;
        --collapse-arrow-color: #616161;
        --sb-item-text-color: #616161;
        --sb-item-background: #f3f3f3;
        --sb-item-background-hover: #e4e6f1;
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --sidebar-background: #252525;
        --collapse-arrow-color: #afafaf;
        --sb-item-text-color: #ccc;
        --sb-item-background: #252525;
        --sb-item-background-hover: #37373d;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: row;
}

#markdown-content {
    width: 75vw;
}

#sidebar {
    height: auto;
    width: 15vw;
    background-color: var(--sidebar-background);
    overflow: hidden;
}

.collapsed {
    display: none;
}

.collapseButton {
    border: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
}
.collapseButton ~ ul {
    padding-left: 20px;
}
.collapseButton:active {
}

#folderPref {
    color: var(--collapse-arrow-color);
    font-size: 18px !important;
    font-weight: 100;
    transform: scaleX(1.5);
    margin-left: 5px;
    margin-right: 5px;
}
#folderTxt,#itemTxt {
    font-size: 18px !important;
    font-family: Verdana;
    font-weight: 100;
    color: var(--sb-item-text-color);
}

.sb-item {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--sb-item-background);
}
.sb-item:hover {
    background-color: var(--sb-item-background-hover);
}