* {
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-width: 15vw;
}

@media (prefers-color-scheme: light) {
    :root {
        --sidebar-background: #f3f3f3;
        --collapse-arrow-color: #838383;
        --sb-item-text-color: #616161;
        --sb-expanded-line-color: #d5d5d5;
        --sb-item-background: #f3f3f3;
        --sb-item-background-hover: #e4e6f1;
        --sb-divider-color: #d5d5d5;
        --sb-addinf-color: #616161;
        --sb-addinf-color-hover: #838383;
        --sb-addinf-color-active: #7072c6;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --sidebar-background: #26292f;
        --collapse-arrow-color: #50535d;
        --sb-item-text-color: #afafaf;
        --sb-expanded-line-color: #373a42;
        --sb-item-background: #26292f;
        --sb-item-background-hover: #37373d;
        --sb-divider-color: #373a42;
        --sb-addinf-color: #afafaf;
        --sb-addinf-color-hover: #50535d;
        --sb-addinf-color-active: #2f3c65;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: row;
}

#markdown-content {
    width: calc( 100vw - var(--sidebar-width) - 2vw);
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: var(--sidebar-width);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: var(--sidebar-width);
    background-color: var(--sidebar-background);
    overflow: hidden;
}

.collapsed {
    display: none;
}

.collapseButton {
    border: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
}
.collapseButton ~ ul {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid var(--sb-expanded-line-color);
}
.collapseButton:active {
}

#folderPref {
    color: var(--collapse-arrow-color);
    font-size: 18px !important;
    font-weight: 100;
    transform: scaleX(1.5);
    margin-left: 5px;
    margin-right: 5px;
}
#folderTxt,#itemTxt {
    font-size: 18px !important;
    font-family: Verdana;
    font-weight: 100;
    color: var(--sb-item-text-color);
}

.sb-item {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--sb-item-background);
}
.sb-item:hover {
    background-color: var(--sb-item-background-hover);
}

#addinfo,#addinfo-toggle {
    width: var(--sidebar-width);
}
#addinfo-toggle,#addinfo-toggle p {
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: var(--sidebar-background);
    color: var(--sb-item-text-color);
}
#addinfo {
    padding-top: 5px;
    background-color: var(--sidebar-background);
    font-size: 16px;
}
.collapsed-info {
    display: none;
}

#addinfo-wrapper {
    bottom:0;
    position: absolute;
    left:0;
}

.sep {
    margin-top: 2px;
    border-top: 2px solid var(--sb-divider-color);
    padding-top: 2px;
    width: 100%;
}

.addinfo-data a {
    text-decoration: underline;
}

.addinfo-data,.infotx,.infotx p {
    color: var(--sb-item-text-color);
}
.addinfo-data a {
    color: var(--sb-addinf-color);
}
.addinfo-data:hover a {
    color: var(--sb-addinf-color-hover);
}
.addinfo-data:active a {
    color: var(--sb-addinf-color-active);
}
.infotx p a {
    color: var(--sb-addinf-color);
}
.infotx:hover p a {
    color: var(--sb-addinf-color-hover);
}
.infotx:active p a {
    color: var(--sb-addinf-color-active);
}
.infotx a {
    color: var(--sb-addinf-color);
}
.infotx:hover a {
    color: var(--sb-addinf-color-hover);
}
.infotx:active a {
    color: var(--sb-addinf-color-active);
}