:root {
    --collapsable-char-collapsed-alt: "⟫";
    --collapsable-char-expanded-alt: "⟫";
    --collapsable-char-collapsed: "►";
    --collapsable-char-expanded: "▼";
    --indent: 20px;

    --collapsible-color: rgb(103, 68, 168);
    --basic-text: #fefefe;
    --placeholder-color: #575656;
    --key-color: #6e94af;
    --key-color-expanded: #58778d; 
}

#topbar {
    position: sticky;
    top: 0;
    height: 0;
}

.returnbtn-wrapper {
    padding-top: 7px;
}

.returnbtn,.returnbtn:hover,.returnbtn:visited,.returnbtn:active {
    border: 1px solid #2a263d;
    background-color: rgba(77, 77, 77, 0.7);
    color: rgb(201, 176, 95);
    text-decoration: none;
    font-size: 28px;
    padding: 5px;
    margin-left: 3px;
    border-radius: 5px;
} 
.returnbtn:hover {
    border: 1px solid #40376e;
    background-color: rgba(77, 77, 77, 0.8);
    color: rgb(216, 190, 103);
}

body {
    font-family: Arial, sans-serif;
    background-color: #252526;
}

.json-container {
    padding: 10px;
    border: 1px solid #333333;
    margin: 10px;
    border-radius: 5px;
    background-color: #1e1e1e;
}

.property {
    margin-left: var(--indent);
    position: relative;
}

.collapsible {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

.collapsed::after {
    content: var(--collapsable-char-collapsed);
}
.expanded::after {
    content: var(--collapsable-char-expanded);
}

.collapsed.altsym::after {
    content: var(--collapsable-char-collapsed-alt);
}
.expanded.altsym::after {
    content: var(--collapsable-char-expanded-alt);
    display: block;
    transform: rotate(90deg);
    overflow: hidden;
    line-height: 90%;
}

.collapsed + .content {
    display: none;
}

.placeholder {
    font-style: italic;
}

.preview-toggle {
    color: gray;
    font-size: 89%;
}

.image-preview {
    border: 1px solid #333333;
    border-radius: 5px;
    width: fit-content;
}

.value-wrapper {
    margin-left: var(--indent);
}

.expanded-decoration-bottom {
    margin-left: var(--indent);
}

.indent {
    margin-left: var(--indent);
}

.value {
    overflow-wrap: break-word;
}

.msg-info {
    color: var(--basic-text);
}

.msg-error {
    color: rgb(158, 46, 46);
}
.msg-error-msg {
    color: rgb(192, 49, 49);
}

#open-json-url-input {
    width: 25vw;
    min-width: 280px;
    margin-right: 5px;
}

/* Obj */
.obj > .collapsible {
    color: var(--collapsible-color);
}
.obj > .key, .obj > .delim {
    color: #b16fc2;
}
.obj > .placeholder {
    color: var(--placeholder-color);
}
.obj > .content {
    color: rgba(254, 254, 254,1);
}
.obj > .expanded-decoration-top, .obj > .expanded-decoration-bottom {
    color: var(--placeholder-color);
}

/* list */
.list > .collapsible {
    color: var(--collapsible-color);
}
.list > .key, .list > .delim {
    color: #aa914c;
}
.list > .placeholder {
    color: var(--placeholder-color);
}
.list > .content {
    color: rgba(254, 254, 254,1);
}
.list > .expanded-decoration-top, .list > .expanded-decoration-bottom {
    color: var(--placeholder-color);
}

/* int */
.int > .collapsible {
    color: var(--collapsible-color);
}
.int > .key, .int > .delim {
    color: var(--key-color);
}
.int > .placeholder {
    color: var(--placeholder-color);
}
.int > .value {
    color: #90b99e;
}

/* float */
.float > .collapsible {
    color: var(--collapsible-color);
}
.float > .key, .float > .delim {
    color: var(--key-color);
}
.float > .placeholder {
    color: var(--placeholder-color);
}
.float > .value {
    color: #6f907a;
}

/* string */
.string > .collapsible {
    color: var(--collapsible-color);
}
.string > .key, .string > .delim {
    color: var(--key-color);
}
.string > .placeholder {
    color: var(--placeholder-color);
}
.string .value {
    color: #af767c;
}
.string.image-preview-expanded > .key, .string.image-preview-expanded > .delim {
    color: var(--key-color-expanded);
}

/* boolean */
.boolean > .collapsible {
    color: var(--collapsible-color);
}
.boolean > .key, .boolean > .delim {
    color: var(--key-color);
}
.boolean > .placeholder {
    color: var(--placeholder-color);
}
.boolean > .value {
    color: #4e44a8;
}

/* link */
.link > .collapsible {
    color: var(--collapsible-color);
}
.link > .key, .link > .delim {
    color: var(--key-color);
}
.link > .placeholder {
    color: var(--placeholder-color);
}
.link .value {
    color: rgb(92, 81, 199);
}
.link.image-preview-expanded > .key, .link.image-preview-expanded > .delim {
    color: var(--key-color-expanded);
}