body {
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: "Varela Round";
    font-size: 25px;
    color: Black;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
    border-bottom: 4px solid rgb(0, 0, 0);
}
p {
    color: rgb(44, 44, 44);
}
i {
    color: rgb(80, 80, 80);
}
b {
    color: rgb(32, 32, 32);
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #1f2227;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-family: "Varela Round";
        font-size: 25px;
        color: white;
    }
    h1 {
        text-align: center;
        font-size: 60px;
        border-bottom: 4px solid white;
        color: white;
    }
    p {
        color: white;
    }
    i {
        color: rgb(160, 160, 160);
    }
    b {
        color: white;
    }
}